@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

*{
    margin: 0;
    padding: 0;
    font-size:100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.content {
    background: rgb(240, 240, 240);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100vh;
}

.form, .form1 {
    background: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form div label, .form1 div label {
    font-weight: 700;
    color:black;
    font-size: 25px;
    margin-bottom: 50px;
    margin-left: 5px;
}


.form div input, .form1 div input {
    padding-left: 10px;
    margin-bottom: 20px;
    width: 500px;
    height: 30px;
    border-radius: 25px;
}


#btn, #btn1 {
    height: 30px;
    color:white;
    background: lightblue;
    cursor: pointer;
}

@media only screen and (max-width: 1410px){
    .content {
        flex-direction: column;
        justify-content: center;
    }
    .form {
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 50px;
    }
    .form1{
        margin-right: 0;
    }
}

@media only screen and (max-width: 568px) {
    .form {
        margin-left: 0px;
        margin-top: 50px;
    }
    .form, .form1{
        margin-right: 0px;
    }

    .form div label, .form1 div label {
        margin-left: 2px;
        font-size: 23px;
    }

    .form div input, .form1 div input {
        width: 300px;
    }
} 